$default-font:  'Lato', sans-serif;
$label-font:  'Montserrat', sans-serif;

//color
$label-color: #2c3e50;
$color-white: #fff;
$color-blue: #2c3e50;
$color-green: #18bc9c; 
$color-grey: #7b8186;
$color-dark-blue: #212529;
$color-error: #ff0000;

//fonts
$xsmall-font: 12px;
$small-font: 14px;
$medium-font: 16px;
$large-font: 20px;
$xlarge-font: 36px;
$label-font-size: 48px;
$xxlarge-font: 76px;

//font-weight
$bold: 700;
$regular: 400;
$thin: 300;

// transition
$transition-fast: 0.3s;